name: Mirror to destination

on:
  push:
    branches:
      - '**'
  delete:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Debug
        run: |
          if [ -z "$DEST_TOKEN" ]; then
            echo "DEST_TOKEN is empty!"
          else
            echo "DEST_TOKEN is set (length: ${#DEST_TOKEN})"
          fi
        env:
          DEST_TOKEN: ${{ secrets.DEST_TOKEN }}
          
      - name: Set up git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git remote set-url origin https://x-access-token:${{ secrets.DEST_TOKEN }}@github.com/zerocouil/sourcedocs.git
        
      - name: Push to destination
        run: |
          echo "${{ secrets.DEST_TOKEN }}"
          git remote add destination https://x-access-token:${{ secrets.DEST_TOKEN }}@github.com/zerocouil/sourcedocs.git || git remote set-url destination https://x-access-token:${{ secrets.DEST_TOKEN }}@github.com/zerocouil/sourcedocs.git
          git push destination --tags --force
