name: Mirror to Destination

on:
  push:
    branches:
      - '**'
  delete:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
     
      - name: Setup Git
        run: |
          git config user.name "sourcedocsai (Gitub Actions)" 
          git config user.email "sourcedocsai@railcloudsoftware.com"

      - name: Clone Source
        run: |
          git clone --mirror https://github.com/sourcedocsai/sourcedocs.git
          cd sourcedocs.git
          
      - name: Mirror Source to Destination
        run: |
          git remote set-url --push origin https://github.com/zerocouil/sourcedocs.git
          git fetch -p origin
          git push --mirror
