name: Mirror to destination

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Push to destination
        env:
          DEST_TOKEN: ${{ secrets.DEST_TOKEN }}
        run: |
          git config --global credential.helper store
          echo "https://x-access-token:${DEST_TOKEN}@github.com" > ~/.git-credentials
          git remote add destination https://github.com/zerocouil/sourcedocs.git
          git push destination --all --force
          git push destination --tags --force
