name: Mirror to Destination

on:
  push:
    branches:
      - '**'
  delete:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
     
      - name: Setup Git
        run: |
          pwd
          git config user.name "sourcedocsai (GitHub Actions)" 
          git config user.email "sourcedocsai+actions@users.noreply.github.com"
          git clone --mirror git@github.com:OwnerName/RepoName.git
          
      - name: Push to Mirror
        run: |
          git remote set-url --push origin https://github.com/zerocouil/sourcedocs.git
          git push --mirror
