name: Mirror to destination

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to destination
        env:
          DEST_TOKEN: ${{ secrets.DEST_TOKEN }}
        run: |
          git remote add destination "https://x-access-token:${DEST_TOKEN}@github.com/zerocouil/sourcedocs.git"
          git push destination --all --force
          git push destination --tags --force
